
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.road-container {
  background: url('/images/stars.jpeg') center center/cover no-repeat;
  height: 120vh;
  width: 100%;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain; */
}

.road{
    justify-content: center;
    align-items: center;
    font-size:xx-large;
}
.main{
    color: aliceblue;
    font-size: 80px;
    font-family: Arial;
}

.center{
text-align:center;
height:100%;
padding-left: 40%;
display:flex; 
align-items:center;
justify-content:center;
}
